@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,700|Sarabun:400,700");
:root {
  /** Dark mode by default */
  --odd-bg: rgba(6, 30, 35, 1);
  --odd-txt: rgba(255, 255, 255, 0.7);
  --odd-highlight: rgba(183, 7, 0, 1);

  --even-bg: rgba(9, 67, 81, 1);
  --even-txt: rgba(255, 255, 255, 0.8);
  --even-highlight: rgba(255, 126, 7, 1);

  --link: rgba(255, 66, 6, 1);
  --link-hover: rgba(255, 126, 7, 1);
  --img-border: papayawhip;

  --heart: crimson;
  --star: gold;
  --muted: #666666;
}

@media only screen and (min-width: 1900px) {
  :root {
    font-size: 200%;
  }
}

body {
  margin: 0;
  padding: 0;
  /* font-family: "Sarabun", Arial, Helvetica, sans-serif; */
  font-family: "EB Garamond", "Times New Roman", Times, serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0;
}

ul > li {
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

small {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: var(--muted);
}

i {
  font-size: calc(1.2rem + 1vw);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 2rem;
}

main {
  background-color: var(--odd-bg);
}

a {
  color: var(--link);
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: var(--link-hover);
}

button {
  border: 0;
  padding: 0.1rem;
  background-color: transparent;
}
.hero {
  font-family: "EB Garamond", "Times New Roman", Times, serif;
  min-height: 100vh;
  width: 90vw;
  margin: auto;
  display: flex;
  align-items: center;
  color: var(--odd-txt);
}

.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr auto 1fr 1fr;
  grid-template-rows: repeat(5, auto);
}

@media (min-width: 62.5rem) {
  .hero-content {
    transform: rotate(-45deg);
  }

  .hero {
    width: 66vw;
    padding-top: calc(30vw - 45vh);
    padding-bottom: calc(30vw - 30vh + 2rem);
  }
}

.hero-content h1 {
  margin: 0;
  padding: 0;
  font-size: calc(1.3rem + 1.8vw);
  text-transform: uppercase;
}

.hero-content > h1 {
  text-align: right;
  grid-column: 1 / 4;
  border-top: 10px solid var(--odd-highlight);
}
.hero-content div:nth-child(2) {
  writing-mode: vertical-lr;
  grid-column: 3;
  grid-row: 2 / 5;

  justify-self: end;
  color: var(--odd-highlight);
}

header .toc {
  grid-row: 3 / 6;
  align-self: end;
}

header .toc li {
  border-bottom: 5px solid var(--odd-txt);
  font-weight: 700;
  font-size: calc(1.2rem + 0.2vw);
  margin-top: 0.5rem;
  white-space: nowrap;
}

header .hotstuff {
  border-top: 5px solid var(--odd-txt);
  border-bottom: 5px solid var(--odd-txt);
  align-self: top;
  margin: 0;
  padding: self;
  grid-row: 3;
  grid-column: 4 / span 2;
  font-weight: 700;
  text-align: right;
  text-transform: uppercase;
}

.hotstuff i {
  color: red;
  font-size: 1.2rem;
}

header .contact {
  grid-row: 5;
  grid-column: 3 / span 3;
  /* text-align: right; */
  align-self: end;
  border-bottom: 10px solid var(--odd-highlight);
  /* margin-left: 1rem; */
}

.red-black-split-container {
  background: linear-gradient(
    to top,
    var(--odd-bg) 0%,
    var(--odd-bg) 50%,
    var(--odd-highlight) 50%,
    var(--odd-highlight) 100%
  );
  /* padding: 0.1rem; */
}

.red-black-split-container > * {
  background: linear-gradient(
    to top,
    var(--odd-highlight) 0%,
    var(--odd-highlight) 50%,
    var(--odd-bg) 50%,
    var(--odd-bg) 100%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-decoration: underline; */
}

.heading-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
  /* margin-top: 1rem; */
  margin-bottom: 2rem;
}

.heading {
  /* color: #fff; */
  font-family: "EB Garamond", serif;
  font-size: 1.2em;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 1.3em;
}

.heading em {
  font-family: "EB Garamond", serif;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  display: block;
  font-style: normal;
  padding-top: 0.7rem;
  text-shadow: 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.1);
}
.heading em::before,
.heading em::after {
  content: "§";
  display: inline-block;
  transform: rotate(90deg);
  opacity: 0.4;
  margin: 0 1rem;
  font-size: 2rem;
}

@media (max-width: 40rem) {
  .heading {
    font-size: 1rem;
  }
  .heading em {
    font-size: 1.7rem;
  }
  .heading em::before,
  .heading em::after {
    /* display: none; */
    margin: 0 0.3rem;
    font-size: 1rem;
  }
}

section {
  min-height: 100vh;
  background-color: var(--odd-bg);
  color: var(--odd-txt);
  /* display: grid; */
  font-size: calc(1rem + 0.7vw);
  line-height: 2.5rem;
  padding-bottom: 2rem;
}

section > * {
  width: 90vw;
  margin: auto;
}
section:nth-child(2n) {
  background-image: url("/assets/bg1.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: inset 0 38px 38px -38px #000000, inset 0 -38px 38px -38px #000000;
  background-color: var(--even-bg);
  color: var(--even-txt);
  /* text-shadow: 0px 2px 2px black; */
}

section:nth-child(2n) h3 {
  text-shadow: none;
}

section:last-of-type {
  background-image: url("/assets/bg.png");
  background-size: cover;
  text-shadow: 0px 2px 2px black;
}

.about {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 2rem;
}

@media (min-width: 59rem) {
  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

.about div:nth-child(1) {
  text-align: justify;
}

.about p {
  margin-top: 0.5rem;
}

.about a {
  color: var(--link);
  /* font-weight: 100; */
  /* text-decoration: underline; */
}

.social-media a {
  color: var(--even-txt);
  font-weight: 100;
}

.social-media-item {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-gap: 1rem;
  margin-bottom: 0.3rem;
  /* align-items: center; */
}

.social-media-item div:nth-child(1) {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

figure {
  margin: 1rem;
  border: 4px solid var(--img-border);
}

.dp-wrapper {
  display: flex;
  justify-content: center;
}

.dp {
  width: 20vw;
  height: 20vw;
  /* position: relative; */
  overflow: hidden;
  /* border-radius: 50%; */
  /* float: left; */
  shape-outside: circle();
  display: flex;
  justify-content: center;
}

@media (min-width: 62.5rem) {
  .dp-wrapper {
    display: block;
    /* justify-content: center; */
  }

  .dp {
    width: 12vw;
    height: 12vw;
    /* position: relative; */
    overflow: hidden;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
  }
}

.dp > img {
  /* display: inline; */
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  /* margin-left: -25%; */
}

/* -- tech stack -- */
.tech {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.score {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-gap: 1rem; */
}

.score img {
  height: 120px;
}

.score div:first-child {
  grid-row: 1 / 4;
  justify-self: center;
}

.score div:nth-child(2) {
  align-items: center;
}

.score > div {
  align-self: center;
}

@media (max-width: 23rem) {
  .score {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* grid-gap: 1rem; */
  }
  .score img {
    height: 50px;
  }
}

@media (min-width: 40rem) and (max-width: 59rem) {
  .score {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
  }

  .score-wrapper {
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.05);
  }

  .score h3 {
    /* align-items: center; */
    grid-column: 2/4;
  }
}

@media (min-width: 59rem) {
  .tech {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  .score {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* grid-gap: 1rem; */
  }
}

@media (min-width: 75rem) {
  .tech {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}

.hearts i {
  margin-right: 0.2vw;
  color: var(--heart);
}

.stars i {
  margin-right: 0.2vw;
  color: var(--star);
}

.tech-mini {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.2rem;
  margin-top: 2rem;
  white-space: nowrap;
}

@media (min-width: 40rem) and (max-width: 59rem) {
  .tech-mini {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 59rem) {
  .tech-mini {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 75rem) {
  .tech-mini {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0.2rem;
    margin-top: 2rem;
    white-space: nowrap;
  }
}

.mini-badge div:nth-child(1)::before {
  content: "# ";
}

.mini-badge:hover div:nth-child(1)::before {
  color: var(--heart);
}

.mini-badge div:nth-child(2) > * {
  font-size: 1rem;
  margin-right: 0.2rem;
}

/* -- clients --*/
.clients a:hover {
  color: var(--odd-txt);
  text-decoration: underline;
}

.client {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.client-pic {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--odd-bg);
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.client-pic img {
  width: 200px;
  margin: 1rem;
}

.client-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.client-title img {
  display: none;
}

@media (max-width: 59rem) {
  .client {
    grid-template-columns: 1fr;
  }
  .client-pic img {
    display: none;
  }

  .client-title img {
    display: block;
    height: 2rem;
    margin-right: 0.5rem;
    background-color: var(--odd-bg);
    padding: 0.2rem;
    border-radius: 0.3rem;
    box-shadow: inset 0 8px 8px -8px #000000, inset 0 -8px 8px -8px #000000;
  }
}

.client-tech-stack {
  color: var(--odd-txt);
  text-shadow: none;
}

.fin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.fin > div {
  border-top: 2px solid var(--even-highlight);
  border-bottom: 2px solid var(--even-highlight);
}

.fin .heading-container {
  border-top: 2px solid var(--even-highlight);
  margin-top: 2px;
  border-bottom: 2px solid var(--even-highlight);
  margin-bottom: 2px;
}

.pet-project {
  display: grid;
  grid-gap: 0.2rem;
  border-left: 0.2rem solid var(--odd-highlight);
  padding-left: 1rem;
  margin-bottom: 1rem;
}

#outro {
  cursor: help;
}

.refresh {
  position: fixed;
  width: 3rem;
  font-size: 1rem;
  top: 1rem;
  right: 0px;
  text-align: center;
}

.refresh > button {
  outline: none;
}

.rotate {
  transition: transform 0.8s ease-in-out;
  outline: none;
}
.rotate:hover {
  transform: rotate(360deg);
}

.refresh i {
  opacity: 0.2;
  color: var(--link);
}
.refresh button:active i {
  opacity: 0.3;
}

.footnote {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-shadow: none;
  text-transform: uppercase;
  margin-bottom: -2rem;
}

.footnote small {
  color: var(--even-txt);
  font-family: "Courier New", Courier, monospace;
}

.footnote i {
  font-size: 0.8rem;
}
